@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-LightItalic";
  font-display: swap;
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
  background-color: #302E2D;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

._container {
  max-width: 1220px;
  margin: 0 auto;
}

.popup {
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 2s ease 0s;
  -o-transition: visibility 2s ease 0s;
  transition: visibility 2s ease 0s;
  visibility: hidden;
}

.popup__bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show .popup__bg {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.5s ease 2s;
  -o-transition: all 0.5s ease 2s;
  transition: all 0.5s ease 2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  position: relative;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 80px;
  width: 100%;
  max-width: 603px;
  text-align: center;
}

.popup__close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 30;
}

.popup__logo-img {
  max-width: 192px;
  max-height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 40px;
}

.popup__text {
  font-family: "Montserrat-Medium";
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #151515;
}

.popup__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__input {
  max-width: 350px;
  height: 72px;
  border: 1px solid #000000;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  color: #151515;
  line-height: 130.69%;
  font-family: "Montserrat-Medium";
  font-size: 36px;
}

.popup__input::-webkit-input-placeholder {
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #797979;
}

.popup__input::-moz-placeholder {
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #797979;
}

.popup__input:-ms-input-placeholder {
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #797979;
}

.popup__input::-ms-input-placeholder {
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #797979;
}

.popup__input::placeholder {
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #797979;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.apply-btn {
  display: inline-block;
  font-family: "Roboto-Regular";
  font-size: 24px;
  line-height: 130%;
  padding: 15px 30px;
  background: #DA291C;
  border: 2px solid #DA291C;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.apply-btn:hover {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}

.title {
  font-family: "Montserrat-Medium";
  font-size: 36px;
  color: #FFFFFF;
  line-height: 1.2;
  position: relative;
  padding-left: 30px;
  margin-left: -30px;
}

.title::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 15px;
  left: 0;
  top: calc(14px + 3 * ((100vw - 320px) / 1600));
  background-image: url(../img/icons/polygon.svg);
}

.icon-menu {
  display: none;
}

.menu__body {
  display: none;
  position: absolute;
  width: 0%;
  height: 100vh;
  background: -o-linear-gradient(334.46deg, rgba(0, 0, 0, 0.5) -2.16%, rgba(66, 66, 66, 0.157) 100%), #85819255;
  background: linear-gradient(115.54deg, rgba(0, 0, 0, 0.5) -2.16%, rgba(66, 66, 66, 0.157) 100%), #85819255;
  z-index: 3;
  top: 0;
  left: 0;
}

.menu__body._active {
  display: block;
  width: 100%;
  height: 100%;
}

.header {
  padding-top: 23px;
  z-index: 10;
  margin-bottom: -85px;
}

.header._scroll {
  position: fixed;
  width: 100%;
  background: -o-linear-gradient(334.46deg, rgba(0, 0, 0, 0.5) -2.16%, rgba(66, 66, 66, 0.534) 100%), #858192cc;
  background: linear-gradient(115.54deg, rgba(0, 0, 0, 0.5) -2.16%, rgba(66, 66, 66, 0.534) 100%), #858192cc;
  padding: 0 0 10px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.header__logo-img {
  max-width: 192px;
  max-height: 62px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto-Regular";
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  color: #fff;
}

.header__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  padding: 0 15px;
  padding-left: calc(10px + 5 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 5 * ((100vw - 320px) / 1600));
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__menu-item:hover {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}

.header__menu-link {
  color: inherit;
}

.header__menu-contact {
  color: inherit;
  margin-left: 37px;
  padding: 6px 16px;
  border: 2px solid #FFFFFF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__menu-contact:hover {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}

.footer {
  color: #444444;
  background-color: #F8F8F8;
  padding-top: 80px;
}

.footer__container {
  font-family: "Roboto-Regular";
  font-size: 12px;
  color: #444444;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.footer__top-title {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #DA291C;
  margin-bottom: 15px;
}

.footer__top-item-list {
  margin-bottom: 30px;
}

.footer__top-item-item {
  margin-bottom: 6px;
}

.footer__top-item-link {
  color: inherit;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__top-item-link:hover {
  color: #DA291C;
}

.footer__top-form {
  width: 100%;
  padding-right: 70px;
  position: relative;
  margin-bottom: 10px;
}

.footer__top-form-label {
  font-size: 24px;
  color: #797979;
  font-family: "Roboto-Light";
  line-height: 1.3;
  font-size: 24px;
}

.footer__top-form-input {
  width: 396px;
  height: 71px;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #F8F8F8;
}

.footer__top-form-btn {
  position: absolute;
  width: 70px;
  height: 71px;
  cursor: pointer;
  border: 1px solid #000000;
  border-left: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__top-form-btn img {
  padding-top: 12%;
}

.footer__top-form-btn:hover {
  background-color: #DA291C;
}

.footer__top-form-privacy {
  font-family: "Roboto-Light";
  margin-bottom: 30px;
  max-width: 282px;
  line-height: 130%;
}

.footer__top-form-link {
  color: #DA291C;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__top-form-link:hover {
  color: #444444;
}

.footer__top-contact {
  padding-left: 17px;
  margin-bottom: 13px;
  position: relative;
  font-family: "Roboto-Regular";
  font-style: normal;
}

.footer__top-contact::before {
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(../img/icons/map-pin.svg);
  left: 0;
}

.footer__top-mail {
  padding-left: 17px;
  position: relative;
  color: #444444;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__top-mail::before {
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(../img/icons/mail.svg);
  left: 0;
}

.footer__top-mail:hover {
  color: #DA291C;
}

.footer__conect {
  text-align: right;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 130%;
  font-family: "Roboto-Light";
  color: #1A1A1A;
}

.footer__conect-brochure {
  display: inline-block;
  color: inherit;
  margin-right: 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-right: 32px;
  position: relative;
}

.footer__conect-brochure::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../img/icons/download.svg);
  right: 0;
  top: 6px;
}

.footer__conect-brochure:hover {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}

.footer__conect-contact {
  display: inline-block;
  color: inherit;
  padding: 15px 41px;
  border: 1px solid #000000;
  margin-right: 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__conect-contact:hover {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: calc(5px + 75 * ((100vw - 320px) / 1600));
  color: #444444;
}

.footer__bottom-item {
  margin-top: -84px;
}

.footer__bottom-logo {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.footer__bottom-lagacy {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__bottom-lagacy:hover {
  color: #DA291C;
}

.footer__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__privacy-item {
  margin-left: 20px;
}

.footer__privacy-item-link {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__privacy-item-link:hover {
  color: #DA291C;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item {
  margin-left: 15px;
}

.footer__social-img {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__social-img:hover {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}

.top {
  margin-bottom: 40px;
}

.top__bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #E5E5E5;
}

.top__top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -33vh;
  margin-bottom: 67px;
}

.top__top-text {
  max-width: 861px;
  font-family: "Montserrat-Bold";
  font-size: calc(25px + 55 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  color: #FFFFFF;
}

.top__top-btn.apply-btn {
  display: inline-block;
  width: 312px;
  height: 72px;
}

.top__bottom-box {
  margin: 0 -100px 173px;
  background: -o-linear-gradient(334.46deg, rgba(0, 0, 0, 0.5) -2.16%, rgba(66, 66, 66, 0.5) 100%), #858192;
  background: linear-gradient(115.54deg, rgba(0, 0, 0, 0.5) -2.16%, rgba(66, 66, 66, 0.5) 100%), #858192;
  padding: 70px 100px 0;
}

.top__title {
  margin-bottom: 48px;
}

.top__bottom-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__bottom-item {
  width: 282px;
  height: 291px;
  background-color: #fff;
  margin-bottom: -62px;
  text-align: center;
  padding: 30px 9px 34px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.top__bottom-item:hover {
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
}

.top__bottom-item-img {
  margin-bottom: 30px;
  max-width: 264px;
  max-height: 145px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top__bottom-item-reyt {
  display: block;
  margin-bottom: 10px;
  color: #DA291C;
  font-size: 18px;
  font-family: "Roboto-Regular";
}

.top__bottom-item-name {
  font-family: "Roboto-Medium";
  color: #1A1A1A;
  font-size: 18px;
}

.global {
  background-color: #fff;
}

.global__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 47px 80px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.global__item {
  max-width: 520px;
}

.global__title {
  color: #151515;
  margin-bottom: 15px;
}

.global__text {
  font-size: 18px;
  color: #151515;
  font-family: "Roboto-Light";
  line-height: 131%;
  margin-bottom: 40px;
}

.global__progres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.global__progres-item {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 35px;
  font-size: 18px;
  color: #151515;
  font-family: "Roboto-Light";
  line-height: 131%;
}

.global__progres-num {
  font-family: "Montserrat-Regular";
  font-size: 56px;
  line-height: 68px;
  color: #DA291C;
  display: block;
}

.global__progres-text {
  display: block;
}

.study__container {
  padding-top: 120px;
  margin-bottom: 70px;
}

.study__title {
  margin-bottom: 15px;
}

.study__text {
  font-family: "Montserrat-Regular";
  color: #EEE3E3;
  font-size: 18px;
  margin-bottom: 50px;
  max-width: 520px;
  line-height: 22px;
}

.study__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.study__item {
  width: 282px;
  height: 422px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 10px 34px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.study__item:hover {
  background-size: 120%;
}

.study__item-logo {
  display: inline-block;
  max-width: 124px;
  max-height: 73px;
}

.study__item-title {
  font-family: "Montserrat-Medium";
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.study__item-link {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: underline;
}

.big-teacher__inner {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  background-color: #524F58;
  padding: 57px 60px 76px 101px;
  margin: 0 -100px 120px;
}

.big-teacher__title {
  margin-bottom: 50px;
  max-width: 520px;
  line-height: 44px;
}

.big-teacher__list {
  max-width: 600px;
}

.big-teacher__item {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto-Regular";
  margin-bottom: 30px;
  position: relative;
  padding-left: 26px;
}

.big-teacher__item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: 0;
  top: 2px;
  background-image: url(../img/icons/polygon.svg);
}

.study-swis {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  -webkit-transition: all 1.4s ease;
  -o-transition: all 1.4s ease;
  transition: all 1.4s ease;
  overflow: hidden;
  background-color: #fff;
}

.study-swis:hover {
  background-size: auto 130%;
}

.study-swis__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 860px;
  height: calc(500px + 360 * ((100vw - 320px) / 1600));
}

.study-swis__title {
  text-align: center;
}

.study-swis__title-top {
  display: block;
  margin-bottom: 6px;
  font-size: 36px;
  font-family: "Montserrat-Light";
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: calc(20px + 16 * ((100vw - 320px) / 1600));
}

.study-swis__title-bottom {
  font-family: "Montserrat-Bold";
  display: block;
  margin-bottom: 37px;
  line-height: 120%;
  font-size: calc(40px + 104 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.2;
}

.study-swis__link {
  font-family: "Roboto-Regular";
  font-size: 18px;
  line-height: 130.69%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
}

.partners {
  background-color: #fff;
}

.partners__container {
  padding-top: calc(40px + 40 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + 40 * ((100vw - 320px) / 1600));
  text-align: center;
}

.partners__title {
  color: #000;
  margin-bottom: 55px;
  text-align: start;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item {
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.partners__item:hover {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}

.partners__item-img {
  max-width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners__link {
  display: inline-block;
  font-family: "Roboto-Regular";
  font-size: 24px;
  line-height: 130.69%;
  color: #DA291C;
  padding: 20px 45px;
  border: 2px solid #DA291C;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.partners__link:hover {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  background-color: #DA291C;
  color: #fff;
}

.history__container {
  padding-top: 120px;
  margin-bottom: 110px;
}

.history__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #55535B;
  margin: 0 -100px;
  padding: 96px 100px;
}

.history__left {
  max-width: 490px;
  margin-right: 30px;
}

.history__title {
  margin-bottom: 13px;
}

.history__text {
  font-family: "Roboto-Light";
  font-size: 18px;
  line-height: 130.4%;
  color: #FFFFFF;
}

.history__slider {
  margin-right: -200px;
  width: 100%;
  height: 100%;
}

.history__slider-wrapper {
  padding-bottom: 20px;
}

.history__slide {
  width: 280px;
  height: 357px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 250px 30px 27px;
}

.history__slide-link {
  text-align: center;
}

.history__slide-name {
  font-family: "Montserrat-Medium";
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.history__slide-profesion {
  font-family: "Roboto-Light";
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.history__button-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110px;
}

.history__button-prev {
  width: 35px;
  height: 40px;
  padding: 20px 10px 20px 26px;
  position: relative;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.history__button-prev::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 8px;
  background-image: url(../img/icons/arrow-slider.svg);
  left: 0;
  top: 40%;
}

.history__button-next {
  width: 35px;
  height: 8px;
  height: 40px;
  padding: 20px 10px 20px 26px;
  position: relative;
  cursor: pointer;
}

.history__button-next::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 8px;
  background-image: url(../img/icons/arrow-slider.svg);
  left: 0;
  top: 40%;
}

.event__container {
  margin-bottom: 100px;
}

.event__title {
  margin-bottom: 50px;
}

.event__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.event__item {
  margin-bottom: 30px;
}

.event__item-link {
  display: block;
  width: 386px;
  height: 293px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 23px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.event__item-link:hover {
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
}

.event__item-teg {
  font-family: "Roboto-Light";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.event__item-name {
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 29px;
  font-family: "Montserrat-Medium";
  color: #FFFFFF;
}

.event__item-date {
  font-family: "Roboto-Light";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.approval__container {
  margin-bottom: 60px;
}

.approval__title {
  margin-bottom: 50px;
}

.approval__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.approval__item {
  margin-bottom: 40px;
}

.approval__item-link {
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.approval__item-link:hover {
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
}

.approval__item-img {
  max-width: 282px;
  max-height: 147px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1650px) {
  .history {
    background-color: #55535B;
  }

  .history__container {
    padding: 90px 20px 0;
  }

  .history__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 0px;
    margin: 0;
  }

  .history__left {
    max-width: 100%;
    margin: 0 0 30px;
  }

  .history__slider {
    margin: 0px 0px;
    padding: 0 0px;
  }
}

@media (max-width: 1232px) {
  ._container {
    max-width: 970px;
  }

  .title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 10px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 23px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .header__menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 100px;
    right: 32px;
    z-index: 10;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%);
  }

  .header__menu._active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .header__menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__menu-item {
    margin-bottom: 20px;
  }

  .header__menu-contact {
    margin-left: 0px;
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__bottom-item {
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .top__top-btn.apply-btn {
    padding: 15px 10px;
  }

  .top__bottom-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .top__bottom-item {
    margin-bottom: 30px;
  }

  .global__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 70px 0 40px 0;
  }

  .global__item {
    max-width: 100%;
    padding: 0 30px;
  }

  .study__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1220px) {
  .popup__body {
    padding: calc(20px + 60 * ((100vw - 320px) / 900));
  }

  .title {
    font-size: calc(30px + 6 * ((100vw - 320px) / 900));
  }

  .footer__top-form-label {
    font-size: calc(16px + 8 * ((100vw - 320px) / 900));
  }

  .study__container {
    padding-top: calc(60px + 60 * ((100vw - 320px) / 900));
  }

  .study__container {
    margin-bottom: calc(20px + 50 * ((100vw - 320px) / 900));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .top__bg {
    height: 50vh;
  }

  .study__text {
    max-width: 100%;
  }

  .big-teacher__inner {
    margin: 0 0px 60px;
    background-size: 0%;
    padding: 57px 60px 76px 50px;
  }

  .history__button-container {
    display: none;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .footer__container {
    font-size: 17px;
    line-height: 1.5;
  }

  .footer__top {
    margin-right: 30px;
  }

  .footer__top-item {
    margin-right: 30px;
  }

  .footer__top-title {
    font-size: 17px;
    line-height: 1.5;
  }

  .footer__top-form-input {
    width: 396px;
  }

  .footer__conect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__conect-brochure {
    margin: 0 0 30px 0;
  }

  .footer__conect-contact {
    margin: 0 0 30px 0;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__privacy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__privacy-item {
    margin-bottom: 20px;
  }

  .top__top-box {
    display: block;
    text-align: center;
  }

  .top__top-text {
    margin-bottom: 30px;
  }

  .big-teacher__inner {
    padding: 20px 20px 20px 20px;
  }

  .partners__link {
    font-size: 18px;
    padding: 15px 20px;
  }
}

@media (max-width: 767.98px) and (max-width: 1220px) {
  .footer__top-form-input {
    width: calc(220px + 176 * ((100vw - 320px) / 900));
  }
}

@media (max-width: 479.98px) {
  .event__item-link {
    width: 300px;
  }
}